.country-list {
  cursor: pointer;
  display: flex;
  margin: 1em 0;
}
.single-country-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.single-country-details {
  background: var(--background-color2);
  width: 100%;
  padding: 1em;
}

.country-list h2 {
  margin: 0.5em 0;
}
.country-list p {
  margin-bottom: 0.5em;
}
