input {
  margin: 0.5em 0;
  background: var(--background-color2);
  padding: 0.6em;
  border: none;
  outline: none;
  color: var(--font-color);
}
input::placeholder {
  color: var(--font-color);
}

input:focus {
  border: none;
  outline: none;
}
select {
  margin: 0.5em 0;
  padding: 0.4em;
  background: var(--background-color2);
  color: var(--font-color);
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
/* .country-list-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
} */
